* {
  margin: 0;
  padding: 0;
}
.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}
